# BackEnd Environment Configuration Example
PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/winkwear?retryWrites=true&w=majority
VITE_API_FRONTEND_URL=http://localhost:5173
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_GEMINI_API=your_google_gemini_api_key_here

# Stripe Payment Gateway
STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key_here
STRIPE_WEBHOOK_SECRET=whsec_your_stripe_webhook_secret_here
CLIENT_URL=http://localhost:5173
